@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@300;400&family=Lexend+Deca:wght@300;400&family=Raleway:wght@300;400;600&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsl(209, 23%, 22%);
  /* width: 100%; */
  /* align-items: center; */
  min-height: 100vh;
}

#root {
  width: 100%;
  /* display: flex;
  justify-content: center; */
  /* position: relative; */
}
nav {
  /* border: 2px solid white; */
  width: 100%;
  position: fixed;
  bottom: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  /* background: red; */
}

.nav {
  /* height: 5em; */
  padding: 1em;
  border-radius: 5em;
  /* background: #2b6cb3;
   */
  background: hsl(209, 23%, 22%);
  cursor: pointer;
  box-shadow: 3px 3px 5px 7px rgba(0, 0, 0, 0.2);
  width: 35em;
  /* position: relative; */
  display: flex;
  justify-content: space-around;
  /* left: auto;
  right: auto; */
}

.home::after {
  content: "The Face";
  position: absolute;
  /* background: black; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8em;
  font-family: Raleway;
  font-weight: 600;
  z-index: -1;
}

.send::after {
  content: "Feedback";
  position: absolute;
  /* background: black; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8em;
  font-family: Raleway;
  font-weight: 600;
  z-index: -1;
}

a {
  color: white;
  text-decoration: none;
}


h1 {
  font-family: Space Mono;
  font-size: 3.5em;
  color: white;
}

.icons {
  font-size: 2.2em;
  color: white;
  
}

.active {
  /* background: red; */
  padding: 1em;
  border-radius: 50%;
  margin-top: -8%;
  border: 3px solid white;
  /* height: 100%; */
  background: hsl(209, 23%, 22%);
transition: 0.5s ease-in-out;
  box-shadow: 3px 3px 5px 7px rgba(0, 0, 0, 0.2);
}

.about {
  margin-bottom: 50px;
}

.about a {
  margin-block: 25px;
}

.about a, .testimonial a {
  background: green;
  border-radius: 5px;
  padding: 10px 30px;

  font-family: Raleway;
}

.home,
.projects, .testimonial, .send {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5em;
}

.home p,
.projects p, .send p, .about p, .resume p, .contact p, .tools p, .testimonial p{
  font-size: 1.4em;
  color: white;
  width: 50%;
  margin: 1em 0;
  text-align: center;
  font-family: Lexend Deca;
}

p.short {
  font-size: 1em;
}

.projects::after {
  content: "Projects";
  position: absolute;
  /* background: black; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8em;
  font-family: Raleway;
  font-weight: 600;
  z-index: -1;
}

.projects {
  max-width: 100vw;
  min-height: 100vh;
}

.html-css {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: Antonio;
  margin: 2em 0;
}

/* .mySwiper, .swiper-slide {
  position: static;
} */

/* .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
} */

.swiper-slide img {
  display: block;
  /* position: relative; */
  width: 100%;
  /* max-height: 100%; */
}

/* .swiper-slide img {
  position: relative;
} */

.details {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgba(0, 0, 0, 0.8);
}

.details p {
  font-size: 1.2em;
  width: 90%;
}

.details a {
  text-decoration: none;
  color: black;
  background: white;
  padding: 0.5em 1em;
  border-radius: 2em;
  font-size: 1.1em;
  font-family: Lexend Deca;
  margin-top: 0.5em;
}

.swiper-slide:hover .details {
  display: flex;
}

.contact {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 50px;
}

.contact::after {
  content: "Contact";
  position: absolute;
  /* background: black; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8em;
  font-family: Raleway;
  font-weight: 600;
  z-index: -1;
}

.testimonial::after {
  content: "Testimonial";
  position: absolute;
  /* background: black; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8em;
  font-family: Raleway;
  font-weight: 600;
  z-index: -1;
}

.quote {
  width: 300px;
  padding: 10px;
  height: 300px;
  display: flex;
  background: hsl(209, 23%, 22%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), -3px -3px 5px rgba(0, 0, 0, 0.4);
}

.quote p {
  width: 100%;
  font-size: 1em;
  text-align: right;
  /* color: gray; */
}

.quote h3 {
  color: gray;
  font-family: Raleway;
}

.send form img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 3px solid white;
  position: relative;
}


.quote h5 {
  color: white;
  margin-top: 5px;
  font-family: Lexend Deca;
}

/* .contact p, .tools p{
  font-family: Lexend Deca;
  margin-block: 10px;
} */

.contact-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  padding-block: 20px;
}

.contact-detail, .contact-content form {
  width: 45%;
  /* box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.4), 3px 3px 5px rgba(0, 0, 0, 0.2); */
  padding: 20px;
 
}

.contact-content form, .send form {
  display: flex;
  flex-direction: column;
}

.contact-content form input, .contact-content form textarea, .send form input, .send form textarea {
   background: rgba(0, 0, 0, 0.2);
   border: none;
  width: 100%;
  color: white;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

.contact-content form input {
  height: 40px;

}

.contact-content form label, .send form label {
  font-size: 16px;
  margin-block: 10px;
  font-family: Lexend Deca;
}

.contact-content form textarea, .send form textarea {
  height: 200px;
  resize: none;
}

.contact-content form button, .send form button {
  height: 35px;
  border: none;
  outline: none;
  color: hsl(209, 23%, 22%);
  margin-top: 10px;
  border-radius: 5px;
  width: 30%;
}

.socials {
  margin-top: 35px;
}

.socials .contactIcon {
  font-size: 35px;
  margin-inline: 10px;
}

.contact-detail p {
  font-size: 20px;
}

label.photo {
  text-align: center;
}

.contact-detail p.phone {
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.contact-detail p .contactIcon {
  margin-right: 10px;
}

.contact-detail {
  padding: 50px;
}

.tools {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 50px;
}

.tools::after {
  content: "My Stacks";
  position: absolute;
  /* background: black; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8em;
  font-family: Raleway;
  font-weight: 600;
  z-index: -1;
}

.resume {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 70vh;
}

.resume::after {
  content: "Resume";
  position: absolute;
  /* background: black; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8em;
  font-family: Raleway;
  font-weight: 600;
  z-index: -1;
}

.resume p {
  font-family: Lexend Deca;
}

.viewNdownload {
  margin-top: 50px;
}

.viewNdownload a {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  background: green;
  font-family: Lexend Deca;
  margin-inline: 20px;
  border-radius: 5px;
}

.toolsIuse {
  padding: 10px;
  width: 50%;
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.eachtool button {
  color: white;
  font-family: Antonio;
  letter-spacing: 1px;
  background: hsl(209, 23%, 22%);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), -3px -3px 5px rgba(0, 0, 0, 0.4);
  border: none;
  outline: none;
  padding: 10px 30px;
}


.about {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 70vh;
}

.about::after {
  content: "About";
  position: absolute;
  /* background: black; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8em;
  font-family: Raleway;
  font-weight: 600;
  z-index: -1;
}

.send form {
  width: 50%;
  color: white
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.preloader img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: loading 1.5s 0s infinite forwards linear;
  border: 2px solid white;
}

.modal {
  background: green;
  margin-block: 10px;
  font-family: Lexend Deca;
  padding: 10px;
  border-radius: 5px;
}

.send, .about, .testimonial {
  margin-bottom: 50px;
}

.about p {
  font-family: Lexend Deca;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width:480px) {

  nav {
    bottom: 1em;
  }

  .home, .send, .about, .contact, .testimonial, .projects, .tools, .resume {
    padding: 5em 2em;
    text-align: center;
  }

  .home::after, .send::after, .testimonial::after, .about::after, .contact::after, .projects::after, .tools::after, .resume::after {
    font-size: 70px;
  }

  .home p,
.projects p, .about p, .send p, .testimonial p, .resume p, .contact p, .tools p {
  width: 100%;
}

.contact-content {
  flex-direction: column;
  gap: 20px;
}

.send form {
  width: 100%;
  color: white
}

h1 {
  font-size: 2.5em;
}

.contact-detail, .contact-content form {
  width: 100%;
  padding: unset;
}

.contact-content form button, .send form button  {
  width: 50%;
}

.contact-detail {
  margin-bottom: 30px;
  margin-top: unset;
}

.contact-content form {
  text-align: left;
}

.toolsIuse {
  width: 100%;
  /* font-size: unset; */
}
.home p,
.projects p, .about p, .resume p,.testimonial p, .send p, .contact p, .tools p  {
  font-size: 1em;
}

.viewNdownload a {
  margin-inline: 5px;
  padding: 10px 15px;
}

.eachtool p {
  width: unset;
  font-size: initial;
}




.icons {
  font-size: 1.7em;
}
  
}